<html>
  <head>
    <link type="text/css" rel="stylesheet" href="index.css"/>
  </head>
  <body>
    <!--KEEP ALL OTHER CONTENTS EXCEPT BODY WITHIN AN 85-90% WIDTH
    CENTERED-->
<div class="header">
    <img src="">
    <ul style="float:right; width: 40%;">
      <li>
        <a href="#">ABOUT US</a>
      </li>
      <li>
        <a href="#">WORK</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>
      <li>
        <a href="#">BLOG</a>
      </li>
    </ul>
</div>

<img src="" class="main-img">
<img src="" class="hooker"><!--animation hook in and out-->
<div>
    <h1>Hello</h1>
    <h1>world.</h1>

    <p>We're a group of designers </br> and developers ready to
    _____</p>

    <a href="">
        <h2 class="input">Let's talk.</h2>
    </a>
</div>
<!-- KEEP BODY CONTENTS WITHIN ~75-85% CENTERED WIDTH-->
<div class="body">
    <h1 class="whu">Why hire
us?</br>---------------------------------------</h1>

    <div class="we-love">
        <img src="wlc.png"><!--CODE-->
        <img src="wld.png"><!--DESIGN-->
        <img src="wly.png"><!--YOU-->
    </div>

    <div class="gpng"><!--2 BIG SQUARES-->
        <img src="">
        <img src="">
    </div>

    <!-- when visible, appear -->
    <!-- place holders for animations if possible-->
    <!--TOP PEOPLE-->
    <div>
        <div>
            <img src="" class="">
            <p class="name">ALEX DOVZHANYN</p>
            <p class="role">-----DEVELOPER-----</p>
            <p class="exp">5 years of experience</p>
            <p class="borough">BRONX</p>
            <p class="quote">"Break your hand doing parkour?" </br>
#onehandedcoding</p>
        </div>
        <div>
            <img src="" class="">
            <p class="name">DANIEL CHIN</p>
            <p class="role">-----DEVELOPER-----</p>
            <p class="exp">5 years of experience</p>
            <p class="borough">QUEENS</p>
            <p class="quote">"Yaya and code equals love" </br>
            #Yaya4life</p>
        </div>
        <div>
            <img src="" class="">
            <p class="name">LUIS LUNA</p>
            <p class="role">-----DESIGNER-----</p>
            <p class="exp">5 years of experience</p>
            <p class="borough">QUEENS</p>
            <p class="quote">"Negative space is magical" </br>
            #notblank</p>
        </div>
    </div>
    <!-- BOTTOM PEOPLE-->
    <div>
        <div>
            <img src="" class="">
            <p class="name">SERGIO GEORGHIOU</p>
            <p class="role">-----DESIGNER-----</p>
            <p class="exp">5 years of experience</p>
            <p class="borough">QUEENS</p>
            <p class="quote">"I take my pleasue seriously" </br>
#seriouslydesigning</p>
        </div>
        <div>
            <img src="" class="">
            <p class="name">TAHJ SNOW</p>
            <p class="role">-----ANIMATOR-----</p>
            <p class="exp">5 years of experience</p>
            <p class="borough">BROOKLYN</p>
            <p class="quote">"It's fun to do the impossible" </br>
#Impossible</p>
        </div>
    </div>
</div>

<div>
    <div>
        <div>
            <p>New York</p>
            <p>+1 646 465 3252</p>
            <p>hello@wasabistudios.net</p>
        </div>
        <div>
            <p>Get updates</p>
            <input type="text">
            <input type="submit" value="Subscribe">
        </div>
        <div>
            <img src="">
            <div>
            <img src="">
            <img src="">
            <img src="">
            </div>
        </div>
    </div>
    <div>
        <p>(c)2015 All rights reserved</p>
        <p>Design. Create. Wasabi.</p>
        <p>wasabistudios.net</p>
    </div>
</div><!--KEEP ALL OTHER CONTENTS EXCEPT BODY WITHIN AN 85-90% WIDTH
CENTERED-->
  </body>
</html>
